.modal-dialog {
    width: 50rem;
}

.box2{
    min-height: 2rem;
}

.title{
    font-size: 16px;
    font-weight: bold;
}

.subtitle{
    font-size: 14px;
    font-weight: bold;
}

.link{
    cursor: pointer;
}

.span-result, .fontSizeAlert{
    font-size: 13px !important;
}

.bd1{
    font-size: xx-small;
    color: #000000;
    font-family: Verdana, Arial;
    background-color: #ebf5ff;
}