<div class="content-wrapper">
  <breadcrumb [action]="breadcrumbAction" [module]="breadcrumbModule">
  </breadcrumb>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- form start -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card">
          <div class="card-body login-card-body">
            <div class="input-group mb-3">
              <input formControlName="password" type="{{typePassword}}" class="form-control" placeholder="Nova Senha"
              autocomplete="new-password" [readonly]="loading" spellcheck="false" required maxlength="20"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="far {{iconPassword}}" (click)="showPassword()"></span>
                </div>
              </div>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required"><i class="fas fa-times"></i> Campo é obrigatório</div>
                  <div *ngIf="f.password.errors.minlength"><i class="fas fa-times"></i> Mínimo de 6 caracteres.</div>
              </div>
            </div>
            <div class="input-group mb-3 confirm-password">
              <input formControlName="confirmPassword" type="{{typePasswordConfirmed}}" class="form-control"
                placeholder="Confirmar Senha" autocomplete="new-password" [readonly]="loading" spellcheck="false"
                autofocus required maxlength="20"
                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="far {{iconPasswordConfirmed}}" (click)="showPasswordConfirmed()"></span>
                </div>
              </div>
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required"><i class="fas fa-times"></i> Campo é obrigatório</div>
                <div *ngIf="f.confirmPassword.errors.minlength"><i class="fas fa-times"></i> Mínimo de 6 caracteres.</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch"><i class="fas fa-times"></i> As senhas não conferem.</div>
              </div>    
            </div>
            <!--<div class="form-inner-group alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
            <div class="form-inner-group alert alert-success" *ngIf="successfullySent">Sua senha foi alterada com
              sucesso. </div>-->
            <div class="form-inner-group actions">
              <button [disabled]="loading" class="btn btn-success">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                <i class="fas fa-edit"></i> <span class="btn-icon-form">Alterar</span>
              </button>
            </div>
          </div>
          <!-- /.login-card-body -->
        </div>
      </form>
    </div>
  </section>
</div>
